@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Conference Homepage</title>
    <link href="~/style/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <img id="main" src="/Content/CC-logo-outlined.svg" alt="Main logo" height="33" width="134" />
    <div align="center">
        <img id="top-logo" src="/Content/logo-symbol.png" height="49" width="48">
        <h1>Clarity<br>Client Conference</h1>
        <h4>The Clarity Conference is being held<br> to bring clients together to discuss how great<br> it is working with Clarity Consulting.</h4>
        <h3 id="time1">Friday, March 3 <br> 6:00 PM</h3>
        <button class="home-button">REGISTER</button>
        <!--	    <img id="map" src="/Content/map.png" height="365" width="904"/>-->
    </div>
</body>
</html>	