@model WebApplication2.Models.Attendees
@{
    ViewBag.Title = "RegisterAttendee";
}

<h2>RegisterAttendee</h2>

@using (Html.BeginForm("RegisterAttendee", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.TextBox("TextBox", "First Name", new
                { @required = "require", @class = "form-control"})
            </td>
        </tr>
        <tr>
            <td>
                 @Html.TextBox("TextBox", "Last Name", new
                { @required = "require", @class = "form-control"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("TextBox", "Email", new
                { @required = "require", @class = "form-control" })
             </td>
        </tr>
        <tr>
            <td><input type="submit" id="submitbtn1" value="Submit"</td>
        </tr>
    </table>

}