#main{
    margin-left: 60px;
    margin-top:50px;
}

#map {
    
}

#top-logo {
    margin-top: 214px;
}

h1 {
    color: #373737; 
    font-size: 46px; 
    line: 46px; 
    font-family: 'Gotham'; 
}

h4 {
    color: #373737; 
    font-size: 18px; 
    line: 20px; 
    font-family: 'Gotham'; 
}

.home-button {
    color: #FFFFFF;
    font-size: 16px;
    /*line: 12px;*/;
    font-family: 'Gotham';
    background-color: orange;
    margin-top: 80px;
    margin-bottom: 160px;
    border-radius: 5px;
}

#time1 {
    padding-top: 80px;
    padding-bottom: 80px;
}